/* 
 * This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks.
 * You'll probably need to override some of theese styles.
 */

* {
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f4f4f4;
    color:#333;
    padding: 1rem;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

/**
Review styles
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
ul li a {
    display: block;
    color:#333;
    padding: 14px 18px;
    text-decoration: none;
}
ul li a:hover {
    border: 1px solid purple;
    border-radius: 10px;
}
.search-bar {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid purple;
}
.search-bar:focus {
    border-color: purple;
}

#places-list {
display: flex;
flex-wrap: wrap;
}

.place-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#review-form {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 70px;
    margin: 20px auto;
    background-color: white;
    width: 100%;
    max-width: 500px;
}

#review-form h2 {
    margin-bottom: 10px;
}

#review-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

#review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 6px;
    font-size: 14px;
    resize: vertical;
    min-height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#review-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 6px;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#review-form button {
    background-color: #9d07ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 14px;
    font-size: 14px;
}

#review-form button:hover {
    background-color: #0056b3
}

.place-card p.place-desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

}

.place-card p.place-price {
    margin-top:auto;
    font-size: 1.5rem;
    align-self: center;
}

/**
* Places Part
*/

#place-details {
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 900px;
    border: 1px solid purple;
}
.back-button {
    display: inline-block;
    color: purple;
    font-weight: bold;
    padding: 10px;
}
.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.place-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.description {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}
.place-info {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.booking-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid purple;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.owner {
    font-size: 0.85rem;
}
.amenities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.amenity-item {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
}
.review {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid purple;
}
#reviews {
    max-width: 900px;
    margin: 2rem auto;
}
.price {
    font-weight: bold;
}
#add-review button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid purple;
    cursor: pointer;
}
hr {
    border: purple;
    border-top: 1px solid purple;
    margin: 1rem 0;
}