<!DOCTYPE html>
<header>
    <nav>
        <a href="/">
            <img src="../static/images/logo.png" alt="HBnB" class="logo">
        </a>
        <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="/">All Places</a></li>
            <li><a id="login-link" href="login">Login</a></li>
            <li><a id="profile-link" href="profile">Profile</a></li>
            <input type="text" placeholder="Search places..." class="search-bar">
        </ul>
    </nav>
</header>
