<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="{{ url_for('static', filename='scripts.js')}}" defer></script>
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <main>
        <a href="/" class="back-button">← See all places</a>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
        </section>

        <section id="reviews">
            <!-- Reviews will be populated dynamically-->
        </section>

        <section id="add-review" style="display: none;">
            <button id="add_review_button">Add Review</button>
        </section>
    </main>
    <!-- footer -->
    {% include 'footer.html' %}
</body>
</html>
