<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="../static/styles.css">
     <script  src="{{ url_for('static', filename='place_scripts.js')}}"></script>
</head>
<body>
    <!-- header -->
    {% include 'header.html' %}
    <main>
        <a href="/" class="back-button">← See all places</a>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
             <h2 class="title">Beautiful Apartment</h2>
        
             <img src="../static/images/place-image-01.jpg" alt=""Place Image" class="place-image">
        <div class="place-info">
            <div class="place-left">
                <p class="description">A lovely place in the city</p>
                <p class="owner">Owner: John Doe</p>
            </div>
            <div class="place-right">
                <p class="price">$100 per night</p>
                <button class="booking-button">Book Now</button>
            </div>
        </div>
        <hr>
        <h3 class="amenities-title">Amenities</h3>
        <ul class="amenities-list">
            <li class="amenity-item">WiFi</li>
            <li class="amenity-item">Pool</li>
        </ul>

        </section>
        <section id="reviews">
            <!-- Reviews will be populated dynamically -->

        <h3 class="review-title">Reviews</h3>
        <div class="review">
            <p>Rating: 5 - Great place!</p>
        </div>

        <section id="add-review" style="display: none;">
            <button onclick="window.location.href='./app/templates/add_review.html'">Add Review</button>
            </section>
        </section>
    </main>
    <!-- footer -->
    {% include 'footer.html' %}
</body>
</html>
